# Eclipse
.classpath
.project
.settings/
.factorypath

# Intellij
.idea/
*.iml
*.iws

# Maven
log/
target/
src/main/client/node_modules/
src/main/client/node/
src/main/client/build/
src/main/resources/application-dev.properties

# Node
node_modules/
