.dashBoard {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.navBar {
  height: 5em;
  display: flex;
  justify-content: space-between;
  flex: auto;
}

.profileActions {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.pageHeader {
  font-size: 5vmin;
}

.selectBookBtn {
  width: fit-content;
  align-self: center;
}

.logo {
  height: auto;
  width: auto;
  max-width: 20%;
  max-height: 80%;
}

.librarianBtns {
  align-self: center;
  display: flex;
  margin-top: 1em;
}
