.book {
    width: 50%;
    margin-top: 2em;
    margin-bottom: 2em;
}

input[type=checkbox] + label {
    display: block;
    cursor: pointer;
}

input[type=checkbox] {
    display: none;
}

input[type=checkbox] + label:before {
    content: "\2714";
    border: 0.05em solid #000;
    border-radius: 0.2em;
    display: inline-block;
    width: 1.2em;
    height: 1.2em;
    padding-bottom: 0.15em;
    padding-left: 0.15em;
    margin-right: 0.5em;
    vertical-align: middle;
    color: transparent;
    transition: 0.2s;
}

input[type=checkbox] + label:active:before {
    transform:scale(0);
}

input[type=checkbox]:checked + label:before {
    background-color: mediumseagreen;
    border-color: mediumseagreen;
    color: #fff;
}